/* mtst-spa/src/AppBar.css */

.app-bar {
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
  box-sizing: border-box;
  /* text-align: left; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.swimmer-name-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.swimmer-name-container input {
  background-color: #333;
  border: 1px solid #555;
  color: #fff;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}
